<div class="flex flex-col min-h-screen   dark:bg-background">

  <div class="container  flex-grow flex flex-col gap-4 ">
    <app-header></app-header>

    <app-planets-list></app-planets-list>
  </div>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>

<video autoplay muted loop class="fixed top-0 left-0 min-w-full min-h-full w-auto h-auto -z-10">
  <source src="../assets/space.mp4" type="video/mp4">
  <!-- Add additional source elements for different video formats if needed -->
  Your browser does not support HTML5 video.
</video>