<div class=" group relative flex items-center self-end  flex-1 md:w-2xl   transition-all duration-300 min-h-full h-fit"
    style="height: 44px;">
    <div class=" flex flex-1 items-center rounded-lg  self-start bg-neutral-600/50">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="absolute left-2 mt-1 top-2.5 h-4 w-4 group-focus-within:text-yellow-400 text-neutral-300 ">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
        </svg>
        <input #planetNameInput id="planetNameInput" maxlength="50" name="planetNameInput" (change)="onSubmit()"
            (keyup)="onSubmit()"
            class="flex h-9 w-full rounded-md  border border-neutral-600 border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-300 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-yellow-400 disabled:cursor-not-allowed disabled:opacity-50 pl-8"
            [(ngModel)]="planetName" required spellcheck="false" rows="1" placeholder="Explore planets.."
            style="height: 44px !important;" />
    </div>
    <div class="absolute hidden md:block text-white/40 font-mono text-xs -translate-y-1/2 right-12 top-1/2">
        CTRL + K
    </div>

</div>